# PyTorch 2.1.1
# --extra-index-url https://download.pytorch.org/whl/cu118
# torch==2.1.1
# torchvision==0.16.1

# ROS
rospkg==1.5.1; sys_platform != 'darwin'  # Skip on macOS
pycryptodomex==3.20.0; sys_platform != 'darwin'  # Skip on macOS
gnupg==2.3.1; sys_platform != 'darwin'  # Skip on macOS
netifaces==0.11.0; sys_platform != 'darwin'  # Skip on macOS

# JupyterLab
jupyterlab>=3.0.0
ipywidgets>=8.0.4

# Data Science Libraries
numpy<2.0.0
scipy>=1.10.0
matplotlib>=3.9.0
scikit-learn>=1.5.0
scikit-image>=0.23.0
tqdm>=4.66.0
h5py
ruamel.yaml
pyyaml

# CV Libraries
imageio>=2.34.0
av>=12.0.0
opencv-python>=4.9.0
opencv-contrib-python>=4.9.0
plotly>=5.19.0
open3d>=0.18.0
supervision>=0.25.1

# Trimesh
trimesh[recommend]>=4.4.0
pyglet<2.0.0

# PyRender
pyrender>=0.1.45
pyOpenGL>=3.1.0
pyopengl-accelerate>=3.1.0; sys_platform != 'darwin'  # Skip on macOS

# gdown
gdown>=5.2.0

# utralytics
ultralytics>8.3.0, <8.4.0
